@import url('https://fonts.googleapis.com/css2?family=Golos+Text&family=Kanit:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Golos Text', sans-serif;
}

body {

    transition: .5s;
}

.main {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 20rem;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
}

button {
    width: 100%;
    font-size: 25px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    display: block;
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(0, 0, 0, .9);
}

